*.xml
*.class
*.log
*.xml
*.log
*.idea
*.logs
log
enc_temp_folder
out
cmake-build-debug
/cmake-build-debug/*
/.vs/*
/lib/framework.lib
/run/*.exe
/run/*.exe.*
/run/*.ilk
/run/*.pdb
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
